body {
  background-color: #272822FF;
  color: #fff;
}

h1 {
  text-shadow: 2px 2px 5px black;
}

img {
  width: 370px;
  height: 520px;
  border-radius: 3em;
  padding: 1em;
}

/* css de index.js */
.title-img {
  background-color: rgba(0, 0, 0, 0.6);
}

.blur {
  filter: blur(5px);
}

figure {
  position: relative;
}

figure figcaption {
  position: absolute;
  width: 95%;
  text-align: center;
  bottom: 100px;
  right: 1px;
}